main {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 0.3ex;
    margin: auto;
    width: 80vw;
    min-width: 400px;
    background-color: white;
}

header {
    border-bottom-style: solid;
    border-width: 0.3ex;
    background-color: white
}

footer {
    border-top-style: solid;
    border-width: 0.3ex;
    background-color: white
}

nav {
    text-align: left;
}

body {
    border-style: solid;
    border-width: 0.3ex;
    background-color: #dddddd;
}

article {
    background-image: linear-gradient(to bottom, lightgrey, ivory);
    margin: 2em;
    border-style: dotted;
    border-width: 0.3ex;
    width: 20em;
}

ul li{
    display: inline-block;
}

ul li a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo{
    text-align: right;
}